
name: Run Tourism Notebook

on:
  push:
    branches:
      - main

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install papermill ipykernel
          pip install -r requirements.txt || echo "No requirements.txt found"

      - name: Run notebook with papermill
        run: |
          papermill Shankar_Gonuru_AML_and_MLOps_Project.ipynb output.ipynb
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
